signup-page {
    position: relative;}
img {
    width: 2em;
    height: auto;
}
.back-button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.back-button:hover {
    opacity: 1;
    background:none;
    transform: scale(1.1);
}
.back-button:hover .icon {
  fill: #ddedaa;
}
